show_startup_tips false
pane_frames false
theme "rose-pine"
copy_on_select true
copy_clipboard "system"
copy_command ""
set_title true

keybinds clear-defaults=true {
    normal {
        bind "Ctrl g" {
            SwitchToMode "Tmux"
        }
    }
    tmux {
        // Leave Zellij mode
        bind "Esc" "Ctrl g" {
            SwitchToMode "Normal"
        }
        // Move between panes
        bind "h" {
            MoveFocus "Left"
            SwitchToMode "Normal"
        }
        bind "j" {
            MoveFocus "Down"
            SwitchToMode "Normal"
        }
        bind "k" {
            MoveFocus "Up"
            SwitchToMode "Normal"
        }
        bind "l" {
            MoveFocus "Right"
            SwitchToMode "Normal"
        }
        // Resize panes
        bind "H" {
            Resize "Increase Left"
            SwitchToMode "Normal"
        }
        bind "J" {
            Resize "Increase Down"
            SwitchToMode "Normal"
        }
        bind "K" {
            Resize "Increase Up"
            SwitchToMode "Normal"
        }
        bind "L" {
            Resize "Increase Right"
            SwitchToMode "Normal"
        }
        // Create panes
        bind "n" {
            NewPane
            SwitchToMode "Normal"
        }
        bind "v" {
            NewPane "Right"
            SwitchToMode "Normal"
        }
        bind "s" {
            NewPane "Down"
            SwitchToMode "Normal"
        }
        // Pane operations
        bind "x" {
            CloseFocus
            SwitchToMode "Normal"
        }
        bind "f" {
            ToggleFocusFullscreen
            SwitchToMode "Normal"
        }
        // Tabs
        bind "t" {
            NewTab
            SwitchToMode "Normal"
        }
        bind "w" {
            CloseTab
            SwitchToMode "Normal"
        }
        bind "[" {
            GoToPreviousTab
            SwitchToMode "Normal"
        }
        bind "]" {
            GoToNextTab
            SwitchToMode "Normal"
        }
        bind "1" {
            GoToTab 1
            SwitchToMode "Normal"
        }
        bind "2" {
            GoToTab 2
            SwitchToMode "Normal"
        }
        bind "3" {
            GoToTab 3
            SwitchToMode "Normal"
        }
        bind "4" {
            GoToTab 4
            SwitchToMode "Normal"
        }
        bind "5" {
            GoToTab 5
            SwitchToMode "Normal"
        }
        bind "6" {
            GoToTab 6
            SwitchToMode "Normal"
        }
        bind "7" {
            GoToTab 7
            SwitchToMode "Normal"
        }
        bind "8" {
            GoToTab 8
            SwitchToMode "Normal"
        }
        bind "9" {
            GoToTab 9
            SwitchToMode "Normal"
        }
        // Session
        bind "d" {
            Detach
        }
        bind "q" {
            Quit
        }
    }
}

themes {
    rose-pine {
        text_unselected {
            base 224 222 244
            background 33 32 46
            emphasis_0 235 188 186
            emphasis_1 156 207 216
            emphasis_2 49 116 143
            emphasis_3 196 167 231
        }
        text_selected {
            base 224 222 244
            background 64 61 82
            emphasis_0 235 188 186
            emphasis_1 156 207 216
            emphasis_2 49 116 143
            emphasis_3 196 167 231
        }
        ribbon_selected {
            base 33 32 46
            background 49 116 143
            emphasis_0 246 193 119
            emphasis_1 235 188 186
            emphasis_2 196 167 231
            emphasis_3 156 207 216
        }
        ribbon_unselected {
            base 25 23 36
            background 224 222 244
            emphasis_0 246 193 119
            emphasis_1 235 188 186
            emphasis_2 196 167 231
            emphasis_3 156 207 216
        }
        table_title {
            base 49 116 143
            background 0 0 0
            emphasis_0 235 188 186
            emphasis_1 156 207 216
            emphasis_2 49 116 143
            emphasis_3 196 167 231
        }
        table_cell_selected {
            base 224 222 244
            background 64 61 82
            emphasis_0 235 188 186
            emphasis_1 156 207 216
            emphasis_2 49 116 143
            emphasis_3 196 167 231
        }
        table_cell_unselected {
            base 224 222 244
            background 33 32 46
            emphasis_0 235 188 186
            emphasis_1 156 207 216
            emphasis_2 49 116 143
            emphasis_3 196 167 231
        }
        list_selected {
            base 224 222 244
            background 64 61 82
            emphasis_0 235 188 186
            emphasis_1 156 207 216
            emphasis_2 49 116 143
            emphasis_3 196 167 231
        }
        list_unselected {
            base 224 222 244
            background 33 32 46
            emphasis_0 235 188 186
            emphasis_1 156 207 216
            emphasis_2 49 116 143
            emphasis_3 196 167 231
        }
        frame_selected {
            base 49 116 143
            background 0 0 0
            emphasis_0 235 188 186
            emphasis_1 156 207 216
            emphasis_2 196 167 231
            emphasis_3 0 0 0
        }
        frame_highlight {
            base 235 188 186
            background 0 0 0
            emphasis_0 235 188 186
            emphasis_1 235 188 186
            emphasis_2 235 188 186
            emphasis_3 235 188 186
        }
        exit_code_success {
            base 49 116 143
            background 0 0 0
            emphasis_0 156 207 216
            emphasis_1 33 32 46
            emphasis_2 196 167 231
            emphasis_3 49 116 143
        }
        exit_code_error {
            base 235 111 146
            background 0 0 0
            emphasis_0 246 193 119
            emphasis_1 0 0 0
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        multiplayer_user_colors {
            player_1 196 167 231
            player_2 49 116 143
            player_3 235 188 186
            player_4 246 193 119
            player_5 156 207 216
            player_6 235 111 146
            player_7 0 0 0
            player_8 0 0 0
            player_9 0 0 0
            player_10 0 0 0
        }
    }
}
