* {
  border: none;
  border-radius: 0;
  font-family: CaskaydiaCove Nerd Font;
  font-size: 14px;
  min-height: 24px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 26px;
  transition: none;
  color: transparent;
  background: transparent;
}

#custom-logo {
  margin-top: 8px;
  margin-left: 12px;
  margin-bottom: 0;
  padding: 0 16px;
  border-radius: 26px;
  background: @teal;
  color: @base;
  font-size: 20px;
  font-weight: bold;
  min-width: 30px;
  border: 2px solid shade(@base, 0.9);
}

#workspaces {
  margin-top: 8px;
  margin-left: 12px;
  margin-bottom: 0;
  border-radius: 26px;
  background: @base;
  transition: none;
  border: 2px solid shade(@overlay0, 0.9);
}

#workspaces button {
  transition: none;
  color: @text;
  background: transparent;
  font-size: 16px;
}

#workspaces button.active {
  color: @red;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: @pink;
}


#tray,
#wireplumber,
#network,
#battery,
#temperature,
#cpu,
#memory,
#custom-notification,
#clock {
  margin-top: 8px;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 26px;
  border: 2px solid shade(@base, 0.9);
  transition: none;
}

#clock {
  color: @text;
  background: @base;
  border: 2px solid shade(@overlay0, 0.9);
}

#tray {
  background: @base;
  border: 2px solid shade(@overlay0, 0.9);
}

#network {
  color: @base;
  background: @pink;
}

#wireplumber {
  color: @base;
  background: @mauve;
}

#battery {
  color: @base;
  background: @lavender;
}

#cpu {
  color: @base;
  background: @blue;
}

#temperature {
  color: @base;
  background: @sapphire;
}

#memory {
  color: @base;
  background: @sky;
}

#custom-notification {
  margin-right: 12px;
  color: @base;
  background: @teal;
}

#mpd.disconnected,
#mpd.stopped {
  color: @text;
  background: @base;
}
